/* Login Page Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: url('https://files.oaiusercontent.com/file-J64Ao31Ahcu1FS7qJhEnDq?se=2024-11-25T15%3A31%3A55Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D8eb7c23a-b06c-4769-ae09-7f3157d228f9.webp&sig=EpcLwd%2BFXbI4tieRjQkZsTO1Bqq80CbyVHJ4AUJd%2BKc%3D'); */
    background-size: cover;
    background-position: center;
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  
  @keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
    }
  .login-card {
    background: #9ee2e7a2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .login-form input {
    padding: 10px;
    background-color: rgb(222, 229, 237);
    border: 1px solid #1496e7;
    border-radius: 4px;
  }
  
  .login-toggle {
    margin-top: 1rem;
    text-align: center;
    color: black;
  }
  
  .toggle-link {
    background: none;
    border: none;
    color: #0e93e6;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
  }
  .my_name{
    color: green;
    font-size: 1rem;
    text-align: center;
  }